<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.EbUserMapper">
    
    <resultMap type="com.ruoyi.business.domain.EbUser" id="EbUserResult">
        <result property="uid"    column="uid"    />
        <result property="account"    column="account"    />
        <result property="pwd"    column="pwd"    />
        <result property="realName"    column="real_name"    />
        <result property="birthday"    column="birthday"    />
        <result property="cardId"    column="card_id"    />
        <result property="mark"    column="mark"    />
        <result property="partnerId"    column="partner_id"    />
        <result property="groupId"    column="group_id"    />
        <result property="tagId"    column="tag_id"    />
        <result property="nickname"    column="nickname"    />
        <result property="avatar"    column="avatar"    />
        <result property="phone"    column="phone"    />
        <result property="addIp"    column="add_ip"    />
        <result property="lastIp"    column="last_ip"    />
        <result property="nowMoney"    column="now_money"    />
        <result property="brokeragePrice"    column="brokerage_price"    />
        <result property="integral"    column="integral"    />
        <result property="experience"    column="experience"    />
        <result property="signNum"    column="sign_num"    />
        <result property="status"    column="status"   typeHandler="org.apache.ibatis.type.BooleanTypeHandler"/>
        <result property="level"    column="level"    />
        <result property="spreadUid"    column="spread_uid"    />
        <result property="spreadTime"    column="spread_time"    />
        <result property="userType"    column="user_type"    />
        <result property="isPromoter"    column="is_promoter"    />
        <result property="payCount"    column="pay_count"    />
        <result property="spreadCount"    column="spread_count"    />
        <result property="addres"    column="addres"    />
        <result property="adminid"    column="adminid"    />
        <result property="loginType"    column="login_type"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="lastLoginTime"    column="last_login_time"    />
        <result property="cleanTime"    column="clean_time"    />
        <result property="path"    column="path"    />
        <result property="subscribe"    column="subscribe"    />
        <result property="subscribeTime"    column="subscribe_time"    />
        <result property="sex"    column="sex"    />
        <result property="country"    column="country"    />
        <result property="promoterTime"    column="promoter_time"    />
        <result property="ids"    column="ids"    />
        <result property="invitePhone"    column="invite_phone"    />
        <result property="location"    column="location"    />
        <result property="sector"    column="sector"    />

        <result property="withdrawable"    column="withdrawable"    />
        <result property="freezeMoney"    column="freezeMoney"    />
        <result property="version"    column="version"    />
    </resultMap>

    <sql id="selectEbUserVo">
        select uid, account, pwd, real_name, birthday, card_id, mark, partner_id, group_id, tag_id, nickname, avatar, phone, add_ip, last_ip, now_money, brokerage_price, integral, experience, sign_num, status, level, spread_uid, spread_time, user_type, is_promoter, pay_count, spread_count, addres, adminid, login_type, create_time, update_time, last_login_time, clean_time, path, subscribe, subscribe_time, sex, country, promoter_time, ids, invite_phone,location,sector,withdrawable,freezeMoney,version from eb_user
    </sql>

    <select id="selectEbUserList" parameterType="com.ruoyi.business.domain.EbUser" resultMap="EbUserResult">
        <include refid="selectEbUserVo"/>
        <where>  
            <if test="account != null  and account != ''"> and account = #{account}</if>
            <if test="pwd != null  and pwd != ''"> and pwd = #{pwd}</if>
            <if test="realName != null  and realName != ''"> and real_name like concat('%', #{realName}, '%')</if>
            <if test="birthday != null  and birthday != ''"> and birthday = #{birthday}</if>
            <if test="cardId != null  and cardId != ''"> and card_id = #{cardId}</if>
            <if test="mark != null  and mark != ''"> and mark = #{mark}</if>
            <if test="partnerId != null "> and partner_id = #{partnerId}</if>
            <if test="groupId != null  and groupId != ''"> and group_id = #{groupId}</if>
            <if test="tagId != null  and tagId != ''"> and tag_id = #{tagId}</if>
            <if test="nickname != null  and nickname != ''"> and nickname like concat('%', #{nickname}, '%')</if>
            <if test="avatar != null  and avatar != ''"> and avatar = #{avatar}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="addIp != null  and addIp != ''"> and add_ip = #{addIp}</if>
            <if test="lastIp != null  and lastIp != ''"> and last_ip = #{lastIp}</if>
            <if test="nowMoney != null "> and now_money = #{nowMoney}</if>
            <if test="brokeragePrice != null "> and brokerage_price = #{brokeragePrice}</if>
            <if test="integral != null "> and integral = #{integral}</if>
            <if test="experience != null  and experience != ''"> and experience = #{experience}</if>
            <if test="signNum != null "> and sign_num = #{signNum}</if>
            <if test="status != null and status != ''"> and status = #{status}</if>
            <if test="level != null  and level != ''"> and level = #{level}</if>
            <if test="spreadUid != null  and spreadUid != ''"> and spread_uid = #{spreadUid}</if>
            <if test="spreadTime != null "> and spread_time = #{spreadTime}</if>
            <if test="userType != null  and userType != ''"> and user_type = #{userType}</if>
            <if test="isPromoter != null  and isPromoter != ''"> and is_promoter = #{isPromoter}</if>
            <if test="payCount != null  and payCount != ''"> and pay_count = #{payCount}</if>
            <if test="spreadCount != null "> and spread_count = #{spreadCount}</if>
            <if test="addres != null  and addres != ''"> and addres = #{addres}</if>
            <if test="adminid != null  and adminid != ''"> and adminid = #{adminid}</if>
            <if test="loginType != null  and loginType != ''"> and login_type = #{loginType}</if>
            <if test="lastLoginTime != null "> and last_login_time = #{lastLoginTime}</if>
            <if test="cleanTime != null "> and clean_time = #{cleanTime}</if>
            <if test="path != null  and path != ''"> and path = #{path}</if>
            <if test="subscribe != null "> and subscribe = #{subscribe}</if>
            <if test="subscribeTime != null "> and subscribe_time = #{subscribeTime}</if>
            <if test="sex != null "> and sex = #{sex}</if>
            <if test="country != null  and country != ''"> and country = #{country}</if>
            <if test="promoterTime != null "> and promoter_time = #{promoterTime}</if>
            <if test="ids != null  and ids != ''"> and ids = #{ids}</if>
            <if test="invitePhone != null  and invitePhone != ''"> and invite_phone = #{invitePhone}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="sector != null  and sector != ''"> and sector = #{sector}</if>

        </where>
    </select>
    
    <select id="selectEbUserByUid" parameterType="String" resultMap="EbUserResult">
        <include refid="selectEbUserVo"/>
        where uid = #{uid}
    </select>
        
    <insert id="insertEbUser" parameterType="com.ruoyi.business.domain.EbUser" useGeneratedKeys="true" keyProperty="uid">
        insert into eb_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="account != null and account != ''">account,</if>
            <if test="pwd != null">pwd,</if>
            <if test="realName != null">real_name,</if>
            <if test="birthday != null">birthday,</if>
            <if test="cardId != null">card_id,</if>
            <if test="mark != null">mark,</if>
            <if test="partnerId != null">partner_id,</if>
            <if test="groupId != null">group_id,</if>
            <if test="tagId != null">tag_id,</if>
            <if test="nickname != null">nickname,</if>
            <if test="avatar != null">avatar,</if>
            <if test="phone != null">phone,</if>
            <if test="addIp != null">add_ip,</if>
            <if test="lastIp != null">last_ip,</if>
            <if test="nowMoney != null">now_money,</if>
            <if test="brokeragePrice != null">brokerage_price,</if>
            <if test="integral != null">integral,</if>
            <if test="experience != null">experience,</if>
            <if test="signNum != null">sign_num,</if>
            <if test="status != null">status,</if>
            <if test="level != null">level,</if>
            <if test="spreadUid != null">spread_uid,</if>
            <if test="spreadTime != null">spread_time,</if>
            <if test="userType != null and userType != ''">user_type,</if>
            <if test="isPromoter != null">is_promoter,</if>
            <if test="payCount != null">pay_count,</if>
            <if test="spreadCount != null">spread_count,</if>
            <if test="addres != null">addres,</if>
            <if test="adminid != null">adminid,</if>
            <if test="loginType != null and loginType != ''">login_type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="lastLoginTime != null">last_login_time,</if>
            <if test="cleanTime != null">clean_time,</if>
            <if test="path != null and path != ''">path,</if>
            <if test="subscribe != null">subscribe,</if>
            <if test="subscribeTime != null">subscribe_time,</if>
            <if test="sex != null">sex,</if>
            <if test="country != null">country,</if>
            <if test="promoterTime != null">promoter_time,</if>
            <if test="ids != null">ids,</if>
            <if test="invitePhone != null">invite_phone,</if>

            <if test="location != null and location != ''">location,</if>
            <if test="sector != null and sector != ''">sector,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="account != null and account != ''">#{account},</if>
            <if test="pwd != null">#{pwd},</if>
            <if test="realName != null">#{realName},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="cardId != null">#{cardId},</if>
            <if test="mark != null">#{mark},</if>
            <if test="partnerId != null">#{partnerId},</if>
            <if test="groupId != null">#{groupId},</if>
            <if test="tagId != null">#{tagId},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="phone != null">#{phone},</if>
            <if test="addIp != null">#{addIp},</if>
            <if test="lastIp != null">#{lastIp},</if>
            <if test="nowMoney != null">#{nowMoney},</if>
            <if test="brokeragePrice != null">#{brokeragePrice},</if>
            <if test="integral != null">#{integral},</if>
            <if test="experience != null">#{experience},</if>
            <if test="signNum != null">#{signNum},</if>
            <if test="status != null">#{status},</if>
            <if test="level != null">#{level},</if>
            <if test="spreadUid != null">#{spreadUid},</if>
            <if test="spreadTime != null">#{spreadTime},</if>
            <if test="userType != null and userType != ''">#{userType},</if>
            <if test="isPromoter != null">#{isPromoter},</if>
            <if test="payCount != null">#{payCount},</if>
            <if test="spreadCount != null">#{spreadCount},</if>
            <if test="addres != null">#{addres},</if>
            <if test="adminid != null">#{adminid},</if>
            <if test="loginType != null and loginType != ''">#{loginType},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="lastLoginTime != null">#{lastLoginTime},</if>
            <if test="cleanTime != null">#{cleanTime},</if>
            <if test="path != null and path != ''">#{path},</if>
            <if test="subscribe != null">#{subscribe},</if>
            <if test="subscribeTime != null">#{subscribeTime},</if>
            <if test="sex != null">#{sex},</if>
            <if test="country != null">#{country},</if>
            <if test="promoterTime != null">#{promoterTime},</if>
            <if test="ids != null">#{ids},</if>
            <if test="invitePhone != null">#{invitePhone},</if>
            <if test="location != null and location != ''">#{location},</if>
            <if test="sector != null and sector != ''">#{sector},</if>

         </trim>
    </insert>

    <update id="updateEbUserWithVersion" parameterType="com.ruoyi.business.domain.EbUser">
        UPDATE eb_user
        SET
            now_money = #{nowMoney},
            withdrawable = #{withdrawable},
            freezeMoney = #{freezeMoney},
            version = version + 1
        WHERE
            uid = #{uid}
          AND version = #{version}
    </update>

    <update id="updateEbUser" parameterType="com.ruoyi.business.domain.EbUser">
        update eb_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="account != null and account != ''">account = #{account},</if>
            <if test="pwd != null">pwd = #{pwd},</if>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="cardId != null">card_id = #{cardId},</if>
            <if test="mark != null">mark = #{mark},</if>
            <if test="partnerId != null">partner_id = #{partnerId},</if>
            <if test="groupId != null">group_id = #{groupId},</if>
            <if test="tagId != null">tag_id = #{tagId},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="addIp != null">add_ip = #{addIp},</if>
            <if test="lastIp != null">last_ip = #{lastIp},</if>
            <if test="nowMoney != null">now_money = #{nowMoney},</if>
            <if test="brokeragePrice != null">brokerage_price = #{brokeragePrice},</if>
            <if test="integral != null">integral = #{integral},</if>
            <if test="experience != null">experience = #{experience},</if>
            <if test="signNum != null">sign_num = #{signNum},</if>
            <if test="status != null">status = #{status},</if>
            <if test="level != null">level = #{level},</if>
            <if test="spreadUid != null">spread_uid = #{spreadUid},</if>
            <if test="spreadTime != null">spread_time = #{spreadTime},</if>
            <if test="userType != null and userType != ''">user_type = #{userType},</if>
            <if test="isPromoter != null">is_promoter = #{isPromoter},</if>
            <if test="payCount != null">pay_count = #{payCount},</if>
            <if test="spreadCount != null">spread_count = #{spreadCount},</if>
            <if test="addres != null">addres = #{addres},</if>
            <if test="adminid != null">adminid = #{adminid},</if>
            <if test="loginType != null and loginType != ''">login_type = #{loginType},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="cleanTime != null">clean_time = #{cleanTime},</if>
            <if test="path != null and path != ''">path = #{path},</if>
            <if test="subscribe != null">subscribe = #{subscribe},</if>
            <if test="subscribeTime != null">subscribe_time = #{subscribeTime},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="country != null">country = #{country},</if>
            <if test="promoterTime != null">promoter_time = #{promoterTime},</if>
            <if test="ids != null">ids = #{ids},</if>
            <if test="invitePhone != null">invite_phone = #{invitePhone},</if>

            <if test="location != null and location != ''">location = #{location},</if>
            <if test="sector != null and sector != ''">sector = #{sector},</if>

            <if test="withdrawable != null">withdrawable = #{withdrawable},</if>
            <if test="freezeMoney != null">freezeMoney = #{freezeMoney},</if>
        </trim>
        where uid = #{uid}
    </update>

    <delete id="deleteEbUserByUid" parameterType="String">
        delete from eb_user where uid = #{uid}
    </delete>

    <delete id="deleteEbUserByUids" parameterType="String">
        delete from eb_user where uid in 
        <foreach item="uid" collection="array" open="(" separator="," close=")">
            #{uid}
        </foreach>
    </delete>

    <select id="selectEbUserByUserNameAndPassword" parameterType="String" resultMap="EbUserResult">
        <include refid="selectEbUserVo"/>
        where phone = #{0} and pwd = #{1}
    </select>

    <select id="selectEbUserByPhone" resultType="com.ruoyi.business.domain.EbUser">
        <include refid="selectEbUserVo"/>
        where phone = #{0}
    </select>

    <select id="selectEbUserByUids" parameterType="java.util.Set" resultMap="EbUserResult">
        <include refid="selectEbUserVo"/>
        WHERE uid in
        <foreach collection="pubIds" item="uid" open="(" separator="," close=")">
            #{uid}
        </foreach>
    </select>
    <select id="selectUserAvatarsByIds" parameterType="java.util.Set" resultMap="EbUserResult">
        SELECT uid, avatar
        FROM eb_user
        WHERE uid IN
        <foreach collection="userIds" item="uid" open="(" separator="," close=")">
            #{uid}
        </foreach>
    </select>

    <select id="selectEbUsersByUids" parameterType="list" resultMap="EbUserResult">
        <include refid="selectEbUserVo"/>
        WHERE uid IN
        <foreach collection="userIds" item="uid" open="(" separator="," close=")">
            #{uid}
        </foreach>
    </select>
</mapper>
